name: Automated browser tests
on: push
jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: actions/cache@v2
        with:
          path: "**/node_modules"
          key: ${{ runner.os }}-modules-${{ hashFiles('**/package-lock.json') }}

      - name: Install deps
        run: npm install

      - name: Run tests
        if: contains(github.event.head_commit.message, '[update it]') == false
        run: npm run test:integration

      - name: Run tests with images update
        if: contains(github.event.head_commit.message, '[update it]') == true
        run: npm run test:integration -- -u

      - name: Archive integration test results
        uses: actions/upload-artifact@v2
        if: failure()
        with:
          name: diff-images
          path: integration/**/*-diff.png
          retention-days: 7
